<html>
    <head>
        <title>Página web</title>
    </head>

    <body>
        <h1>Hola</h1>
        <h2> <%= titulo %>
        </h2>
        <h2> <%= nombre %>
        </h2>
        <h2> <%= apellido %>
        </h2>
    
    </body>

</html>